// ------ FONTS ------
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  // ------ COLORS ------
  --black: #000000;
  --black-2: #040405;
  --dark: #080809;
  --dark-hover: #0c0d0e;
  --white: #ffffff;
  --white-transparent: #ffffffe5;
  --light: #e7e8eb;
  --light-gray: #d6d8dd;
  --light-gray-2: #efefef;
  --gray: #7e7e7e;
  --pink: #ee325c;
  --pink-hover: #d61f4d;
  --pink-active: #f698ad;
  --red: #ff0d2b;
  --light-yellow: #e1d18a;
  --purple: #3d2d82;
  --green-icon: "#6bbc13";
  --green: #00a74a;

  // ------ BORDERS ------
  --border-light: 1px solid var(--light-gray);

  // ------ GRADIENTS ------
  --linear-gradient-header: linear-gradient(
    159.13deg,
    #3d2e80 51.38%,
    #dc1969 125.72%
  );
  --linear-gradient-footer: linear-gradient(
    142.89deg,
    #3d2e80 38.81%,
    #dc1969 112.05%
  );

  // ------ ANIMATIONS ------
  --transition-duration: 0.3s;
  --transition-duration-slow: 0.5s;
  --btn-transition: all var(--transition-duration) ease-in-out;
  --goal-transition: all var(--transition-duration) ease-in-out;
  --goal-transition: all var(--transition-duration-slow);
  --review-transition: all var(--transition-duration) ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--pink);

  &:hover {
    background: var(--pink-hover);
  }

  &:active {
    background: var(--pink-active);
  }
}

::-webkit-scrollbar-track {
  background: var(--light-gray);
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);

  width: 100vw;
}

div,
span,
p {
  font-family: "Mulish";
  font-style: normal;
  margin: 0;
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

p {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

a {
  color: var(--pink);
  text-decoration: none;
  font-weight: bold;
  transition: var(--btn-transition);

  &:hover {
    color: var(--pink-hover);
  }

  &:active {
    color: var(--pink-active);
  }
}

u {
  text-decoration: underline;
  text-decoration-color: #ee325b2b;
  text-decoration-line: underline;
  text-decoration-thickness: 14px;
}

.big-padding {
  padding: 40px;

  @media (max-width: 425px) {
    padding: 20px;
  }
}
