@mixin heading-font {
  font-family: "Mulish";
}

@mixin heading-white {
  @include heading-font;

  color: $white;
  font-weight: 900;
  text-align: center;
}

@mixin heading-black {
  @include heading-font;

  color: $black;
  font-weight: 700;
  text-align: left;
}

@mixin heading-1 {
  @include heading-white;

  &.heading-header {
    font-size: 50px;
    line-height: 80px;
  }

  &.heading-footer {
    font-size: 48px;
    line-height: 59px;
  }

  // ----- MOBILE ----- //
  @media (max-width: 426px) {
    &.heading-header {
      font-size: 30px;
      line-height: 45px;
    }

    &.heading-footer {
      font-size: 24px;
      line-height: 34px;
    }
  }
}

@mixin heading-2 {
  @include heading-black;

  font-size: 48px;
  line-height: 64px;

  // ----- MOBILE ----- //
  @media (max-width: 426px) {
    font-size: 32px;
    line-height: 44px;
  }
}
